 body {
  
    font-size: 18px;
    line-height: 34px;
    color: #ffffff;
    background: rgb(22, 22, 22);
}
  
  * {
    box-sizing: border-box;
  }
  
  /* general */
  
   .container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    
  }
  
  h1,
  p {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif; 
  }
  
  p:last-child {
    margin-bottom: 0;
  }
/*   
  h1 {
    
    font-weight: 700;
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
  } */
  
  /* header */
   .box {
    z-index: 99;
    width: 100%;
    height: 300px;
    margin: auto;
    font-family: 'Akronim', cursive;
    margin: 0 auto;
    clear: both;
  }
  
  .gif {
      float: left;
  }
  
a {
    text-decoration: none;
    color: white;font-size: 50px;
    font-weight: 30;
    line-height: 80px;
    padding-top: 70px;
    margin-left: 60px;
    text-align: center;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  a.logo {
    float: left;
    padding: 20px;
    width: 960px;
    height: 340px;
    color: #ffffff;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
  }
      

  /* footer */
   footer {
    padding: 0px 0px 10px 0px;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 4px solid #cccccc;
    height: 80px;
  } 
  
  /* main */
   #main-container {
    padding-top: 30px;
    min-height: calc(100vh - 70px);
    margin: 0px 20px 0px 170px;
  
  }
  
  .section1 {
    float: left;
    width: 100%;
    height: 400px;
    font-family: 'Raleway', sans-serif; 
    font-size: 30px;
    text-align: center;
    max-width: 800px;
    padding: 60px;
    background: #ffffff;
    border: none;
    background: #302f2f;
    box-shadow: 20px 20px 50px grey inset;
    box-shadow: 10px 10px 100px grey;
    column-count: 2;
    column-span: all;
    column-fill: balance;
  } 
.leftcolum {
    float: left;
}
  /* .section2 {
    
    width: 50%;
    height: 400px;
    max-width: 100%;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
    background: #666666;
  }  */
 


